@charset "utf-8";

/* 顶部链接  分享 */
.title{
    width: 100%;
    height: 48px;
}

.title div.link_top>ul{
    height: 48px;
}
.title div.link_top ul li{
    float: left;
    position: relative;
}
.title div.link_top>ul li>a{
    display: block;
    width: auto;
    height: 48px;
    background: url(../img/title_link_r.png) no-repeat right center;
    padding: 0 20px;
    font-size: 14px;
    line-height: 48px;
    color: #2d2d2d;
}
.title div.link_top ul li a:hover{
    color: #008842;
}
.title div.link_top>ul li.first>a{
    padding: 0 20px 0 0;
}
.title div.link_top ul li.last>a{
    border-right: none;
    padding: 0 20px;
    background: url(../img/daoSan.png) no-repeat right center;
}
/* 快速入口下拉 */
.title div.link_top ul li ul.ul1{
    position: absolute;
    top: 48px;
    left: 0;
    width: 140px;
    display: none;
    z-index: 100;
    padding: 0;
    background: #218483;
}
.title div.link_top ul li ul.ul1 li{
    float: none;
}
.title div.link_top ul li ul.ul1 li a{
    display: block;
    width: 100%;
    height: 40px;
    color: #fff;
    font-size: 14px;
    line-height: 40px;
    padding: 0;
    text-indent: 25px;background:none;
}
.title div.link_top ul li ul.ul1 li a:hover{
    background: #005c2d;
}
/* 分享 */
.body .title .share .bshare-custom{
	height: 48px;
	width: auto;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	padding: 11px 0;
}
.bshare-custom a{
	display: inline-block !important;
	float: left;
	height: 26px !important;
	width: 26px;
	margin: 0 8px;
	padding: 0 !important;
}
.bshare-custom .bshare-weixin{
	background: url(../img/wx.png) no-repeat center !important;
}
.bshare-custom .bshare-sinaminiblog{
	background: url(../img/wb.png) no-repeat center !important;
}
.bshare-custom .bshare-qqim{
	background: url(../img/qq.png) no-repeat center !important;
}
.bshare-custom .bshare-qzone{
	background: url(../img/kj.png) no-repeat center !important;
}
/* logo */
div.logo {
    padding: 53px 0;
    background: url(../img/logo_bg.png) no-repeat top center;
}
div.logo a.logo{
    display: block;
}
div.logo a.logo img{
    display: block;
}
/* 搜索 */
div.logo .searchbox{
    margin-top: 17px;
}
div.logo .searchbox div{
    background: #ffffff;
    width: 274px; 
    height:40px; 
    overflow: hidden;   
    border-radius: 5px; 
}
div.logo .searchbox .text {
    float: left;
    width: 75%;
    height: 40px;
    border: none;
    outline: none;
    line-height: 40px;
    padding-left: 15px;
    font-size: 14px;
}
div.logo .searchbox .submit {
    width: 15%;
    height: 40px;
    float: right;
    background: url("../img/search.png") no-repeat center center;
    border: none;
    outline: none;
}
/* 导航 */
.navbar{
    width: 100%;
    height: 60px;
    background: #005c2d;
}
.navbar ul li{
    float: left;
    position: relative;}
.navbar ul li a{
    display: block;
    width: auto;
    line-height: 60px;
    padding: 0 25px;
    color: #fff;
    font-size: 18px;
}
.navbar ul li:hover>a,.navbar ul li.hover>a{
    background: #1b8650;
}
.navbar div ul li .ul2 {
    position: absolute;
    width: 100%;
    left: 0px;
    top: 60px;
    z-index: 100;
    display: none;
    margin: 0;
    float: none;
}
.navbar div ul li .ul2 .bJing2{
    width: 100%;
    height:100%;
    background: #ffffff;
    opacity: 0.8;
    filter : alpha(opacity=80);
    -moz-opacity : 0.8;
    -khtml-opacity : 0.8;
    position: absolute;
    top: 0;
    left: 0;
}
.navbar div ul li .ul2 li {
    width: 100%;
    display: block;
    float: none;
    margin: 0;
line-height:26px;
height:auto;
}

.navbar div ul li .ul2 a {
    display: block;
    color: #232323;
    font-size: 15px;
    text-align: center;
    padding: 6px 2px;
line-height:24px;
height:auto;
}

.navbar div ul li .ul2 a:hover {
    color: #fff;
    background:rgba(0, 135, 66, 0.8);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#C8008742,endColorstr=#C8008742);
}
/* 底部友情链接 */
.link{
    width: 100%;
    height: 70px;
    background: #008742;
    border-top: 1px solid #319f66;
    border-bottom: 1px solid #319f66;
}
.link>div>span{
    float: left;
    line-height: 70px;
    font-size: 16px;
    color: #fff;
}
.link div ul{
    float: left;
}
.link div ul li{
    float: left;
}
.link div ul li a{
    display: block;
    width: auto;
    color: #fff;
    font-size: 16px;
    line-height: 70px;
    padding: 0 15px;
    text-align: center;
}
.link div ul li a:hover{
    color: #9bf2c5;
}
/* 底部 */
.foot{
    width: 100%;
    background: #008742;
    padding: 40px 0;
}
.foot .foot_left a.foot_logo{
    display: block;
    width: auto;
    margin-bottom: 40px;
}
.foot .foot_left ul li{
    float: left;
    margin-right: 30px;
}
.foot .foot_left ul li p{
    font-size: 14px;
    color: #fff;
    line-height: 28px;
}
.foot .foot_left ul li a,.foot .foot_left ul li a img{
    display: block;
    width: auto;
}
.foot .foot_left ul li a.jingBei{
    display: block;
    width: auto;
    height: 28px;
    font-size: 14px;
    color: #fff;
    text-indent: 20px;
    line-height: 28px;
    background: url(../img/jingBei.png) no-repeat left center;
}
.foot .foot_left ul li a.jingBei:hover{
    color: #9bf2c5;
}
.foot .foot_right a{
    width: auto;
    display: block;
    margin-top: 21px;
}
.foot .foot_right a img{
    width: auto;
    display: block;
}
.foot .foot_right a p{
    color: #fff;
    line-height: 20px;
    text-align: center;
    font-size: 14px;
    margin-top: 14px;
}

/* 版权 */
.bq{
    width: 100%;
    height: 48px;
    background: #151515;
}
.bq p{
    color: #fff;
    line-height: 48px;
    font-size: 14px;
}
.list_pic{padding: 40px 0;border-bottom: 1px solid #f0f0f0;}
.list_pic li{width: 250px;float:left;margin:20px;height:250px;text-align:center;}
.list_pic img{width: 100%;height:180px;margin-bottom:20px;}
.list_pic li:hover a{color: #005c2d;}
.list_right ul.list_pic li a{padding:0;}
.list_right ul.list_pic li a:hover{background:none;}